/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header{
	padding: 0 0; 
}
.logo{
	width: 180px; 
}
.menu ul li a{
	margin-bottom:  10px;  
	padding: 0 10px !important; 
} 
/*banner start*/
.banner{
	padding-bottom: 60px;
}
.b_text{
	text-align: center;
}
.b_h1{
	padding:0;
	font-size: 30px;
	line-height: 40px;
} 
.b_p2{
	padding: 0;
	line-height: 30px;
}
.btn_link {
	margin: 15px auto 0;
}
	.b_img {
	margin-bottom: 20px;
	padding: 0;
} 
/*feature startt*/
.feature{
	padding-bottom: 60px;
}
.s_feature {
	margin-top: 24px;
}
.s_img{
	width: 60px;
	height: 70px;
}
/*feature end*/ 
/*course start*/
.c_h1 {
	font-size: 25px;
}
.c_item {
    margin: 30px 0 0;
    padding: 10px 10px 15px ;
}
.c_h2 {
	font-size: 20px;
} 
.c_left ul li img, .c_right ul li img{
	width: 18px;
}
.c_left ul li span, .c_right ul li span{
	font-weight: 400px;
}
.cli:not(:last-child) {
	margin-right: 0px;
}
/*testimony start*/
.t_item {
	margin-top: 30px;
}
.t_img {
	padding: 0 50px 20px;
} 
.t_text {
	text-align: center;
} 
/*footer_top start*/
.footer_top {
	padding: 55px 0 20px;
	text-align: center;
}
.ft_details {
	margin-bottom: 35px;
	padding-right: 0;
} 
.ft_links {
    margin-bottom: 35px;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	/*header start*/
header {
	padding: 5px 0; 
}  

.menu ul li a{
	margin-bottom:  15px; 
	padding: 0 10px !important; 
} 
/*banner start*/
.b_text{
	text-align: center;
}
.b_h1{
	padding: 0 45px 0;
	font-size: 35px;
	line-height: 50px;
}
.b_p2{
	padding: 0 25px 0;
	line-height: 30px;
}
.btn_link {
	margin: 15px 0 0;
}
.b_img {
	margin-bottom: 30px;
	padding: 0 50px;
}
/*feature startt*/
.feature{
	padding-bottom: 60px;
}
.s_feature {
	margin-top: 24px;
}
/*feature end*/
/*course start*/
.c_h1 {
		font-size: 25px;
	} 
.c_item {
    margin: 30px 60px 0;
    padding: 20px 15px 25px ;
} 
/*testimony start*/
.t_item {
			margin-top: 30px;
}
.t_img {
	padding: 0 120px 20px;
}
.t_text {
	text-align: center;
}
/*footer_top start*/
.footer_top{
    text-align: center;
}
.ft_details {
    margin-bottom: 35px;
    padding: 0 70px;
} 
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 	
/*header startt*/
.menu ul li a{
	margin-bottom:  15px; 
	padding: 0 10px !important; 
} 
/*banner startt*/
.b_text{
	text-align: center;
}
.b_h1{
	padding: 0 100px 0;
}
.b_p2{
	padding: 0 80px 0;
}
.btn_link {
	margin: 15px auto 0;
}
.b_img {
	margin-bottom: 30px;
	padding: 0 100px;
}
/*banner end*/
/*feature startt*/
.feature{
	padding-bottom: 80px;
}
.s_feature {
	margin-top: 24px;
}
/*feature end*/
/*course start*/
.c_item {
    margin: 40px 100px 0;
}
/*testimony start*/
.t_item {
    margin-top: 40px;
} 
/*footer_top start*/
.footer_top{
 	text-align: center;
}
.ft_details {
 	margin-bottom: 35px;
 	padding: 0 80px;
} 
}
/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) and (max-width: 1199.98px) {
/*Course start*/
.c_item {
       padding: 24px 15px 30px;
} 
.c_left ul li img, .c_right ul li img {
    width: 18px;
}
.cli:not(:last-child) {
    margin-right: 0;
}
} 
-/* Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {  
}  
/* Extra large devices (large desktops, 1400px and up)*/ 
@media (min-width: 1400px) {
/*banner startt*/
.b_h1 {
     padding-right:115px; 
} 
.b_p2  {
	padding-right: 90px; 
}
/*banner end*/
/*feature startt*/
.s_feature {
	padding: 65px 0 60px;
}
/*feature end*/ 
/*footer_top start*/
.ft_details {
    padding-right: 130px;
	} 
} 
/*footer_top end*/ 